/**********Polices**********/

@font-face{
	font-family: 'Roboto';
	src: url("Roboto.eot") format("eot"),
		 url("Roboto.woff") format("woff"),
		 url("Roboto.ttf") format("truetype"),
		 url("Roboto") format("svg");
	font-weight: normal;
	font-style: normal;
}

/**********Variables**********/

/**********Mixins**********/


/**********Body**********/

h1, h2{
    font-size: 20px;
    font-weight: bold;
}
h3{
    font-size: 15px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
body{
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    font-size: 15px;
}

/**********Header**********/

.header{
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0px 1px 7px 0px rgb(0 0 0 / 20%);
}
.header img{
    margin: 15px;
    width: 130px;
}

/**********Barre de recherche**********/

input.text{
    font-family: FontAwesome, "Roboto";
    text-decoration: inherit;
    text-align: center;
    font-weight: bold;
}
.search{
    width: 100%;
    border: none;
    background-color: #EAEAEA;
    margin: 0px;
    padding: 12px;
}

/**********Description et Bouton**********/

.title{
    background-color: #F6F6F6;
    text-align: center;
    padding: 15px 10px 30px 10px;
}
button{
    border: none;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: #FFFFFF;
    padding: 15px 30px 15px 30px;
    margin: 10px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 1px 4px 8px 0px rgb(0 0 0 / 30%);
    transition: all 400ms linear;
}
button:hover{
    cursor: pointer;
    background: linear-gradient(to bottom right, #9356DC, #FF79DA);
    box-shadow: 1px 4px 8px 0px rgb(0 0 0 / 50%);
}

/**********Fonctionnement**********/

.functioning{
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 20px 0px 25px 0px;
}
.functioning a{
    width: 230px;
}
.functioning h2{
    padding: 10px 10px 10px 10px;
    margin: 0px;
}
.group-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    justify-content: space-around;
}
.box{
    display: flex;
    flex-direction: row;
    background-color: #F6F6F6;
    border-radius: 20px;
    box-shadow: 1px 4px 8px 0px rgb(0 0 0 / 10%);
    padding: 20px;
    margin: 15px 5px 5px 20px;
    align-items: baseline;
}
.box .fas{
    color: #7E7E7E;
    width: 15px;
}
.box:hover{
    background-color: #f4eefc;
}
.number{
    color: #FFFFFF;
    font-size: 11px;
    background-color: #9356DC;
    position: relative;
    padding: 4px 7px 3px 7px;
    left: -30px;
    border-radius: 50%;
}
.explication{
    margin-left: 15px;
    font-size: 13px;
    font-weight: bold;
}

/**********Restaurants**********/

.restaurants{
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    padding: 35px 0px 40px 0px;
}
.restaurants h2{
    margin: 10px 10px 0px 20px;
}
.group-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 4px 8px 0px rgb(0 0 0 / 20%);
    margin: 20px;
    height: 210px;
    position: relative;
}
.group-card a{
    flex: 20%;
}
.card img{
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.card .description{
    height: 35%;
    line-height: 5px;
    padding: 8px 8px 8px 14px;
}
.new{
    color: #008766;
    background-color: #99E2D0;
    width: 60px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.card .fa-heart{
    font-size: 24px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-weight: inherit;
}

/**********Footer**********/

.footer{
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.footer .logo{
    position: absolute;
    top: 94%;
    left: 47%;
}
.footer div{
    display: flex;
    flex-direction: column;
}
.footer a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 22px;
}
.footer .text-logo{
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Shrikhand", cursive;
    padding-bottom: 10px;
    width: 100px;
}
.footer .links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/**********Media queries**********/

@media screen and (max-width: 940px)/*****Tablettes*****/{
    .group-card a{
        flex: 40%;
    }
    .footer .logo{
        top: 100%;
        left: 46%;
    }
}
@media screen and (max-width: 550px)/*****Téléphones*****/{
    .group-box{
        flex-direction: column;
        padding: 10px 15px 10px 5px;
    }
    .group-card{
        flex-direction: column;
    }
    .footer .links{
        flex-direction: column;
        position: inherit;
    }
    .footer .logo{
        position: inherit;
    }
}

