/**********Bouton**********/

button.button{
    border: none;
    background: linear-gradient(to bottom right, $color-pink, $color-purple);
    color: $color-white;
    padding: 15px 30px 15px 30px;
    margin: 10px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
    @include box-shadow;
    &--large {
        width: 100%;
    }
    &:hover{
        cursor: pointer;
        background: linear-gradient(to bottom right, $color-purple, $color-pink);
        @include box-shadow;
    }
}