/**********Barre de recherche**********/

input.text{
    font-family: FontAwesome, "Roboto";
    text-decoration: inherit;
    text-align: center;
    font-weight: bold;
}
.search{
    width: 100%;
    border: none;
    background-color: #EAEAEA;
    margin: 0px;
    padding: 12px;
}